<section class="container">
  <h1 class="app-name">{{title}}</h1>
  <h3 class="app-welcome">{{welcome}}</h3>
  <nav class="navigation">
    <a [routerLink]="['Login']">Login</a>
    <a [routerLink]="['Register']">Register</a>
  </nav>
  <router-outlet></router-outlet>
</section>


<!-- <h1>
  {{title}}
</h1>

<h3>{{welcome}}</h3>
<p (click)="registration = !registration;login = false" style="cursor:pointer;">Sign Up</p>
<p (click)="registration = false;login = !login;" style="cursor:pointer;">Sign In</p>

<div *ngIf="registration" >
 <register-form></register-form>
</div>
<div *ngIf="login" >
<login-form></login-form>
</div> -->
