<aside class="sidebar">
  <section class="navbar navbar-col">
    <a class="navbar-item" href="#">Files</a>
    <a class="navbar-item" href="#">Recent</a>
    <a class="navbar-item" href="#">Deleted Files</a>
  </section>
  <footer class="footer">
    <section class="meta"></section>
    <section class="connections">
      <h3 class="list-title list-title-upper">Connected Storage</h3>
      <a class="navbar-item" href="#">Dropbox</a>
      <a class="navbar-item" href="#">Add Storage</a>
    </section>
  </footer>
</aside>