<section class="header">
  <img class="header-logo" src="" alt="Nimbus" />
  <input class="search" placeholder="Search" />
  <section class="profile">
    <img class="profile-avatar" src={{userAvatar}} />
    <section class="profile-menu">
      <header class="profile-meta">
        <h2 class="profile-name"></h2>
        <h3 class="profile-email"></h3>
      </header>
      <section class="profile-list">
        <a href="javascript:void(0)" class="profile-list-item">Settings</a>
        <a href="javascript:void(0)" class="profile-list-item">Sign Out</a>
      </section>
    </section>
  </section>
</section>