<main class="filebrowser">
  <header class="filebrowser-head">
    <section class="upper">
      <section class="navbar">
        <section class="navbar-left">
          <a class="navbar-item" href="#">1</a>
          <a class="navbar-item" href="#">2</a>
        </section>
        <section class="navbar-right">
          <a class="navbar-item" href="#">1</a>
          <a class="navbar-item" href="#">2</a>
          <a class="navbar-item" href="#">3</a>
        </section>
      </section>
    </section>
    <section class="lower">
      <section class="breadcrumbs">
        <a class="breadcrumb breadcrumb-current" href="#">Files</a>
      </section>
    </section>
  </header>
  <section class="browser">
    <table>
      <thead>
        <tr>
          <th width="55%">Name</th>
          <th>Modified</th>
          <th>Created</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </section>
</main>