<slothbox-sidebar></slothbox-sidebar>
<main class="filebrowser">
  <header class="filebrowser-head">
    <section class="upper">
      <section class="navbar">
        <section class="navbar-left">
          <a class="navbar-item" href="javascript:void(0);">
            <img src="img/folder_new.svg" class="navbar-item-icon" alt="new folder">
          </a>
          <a class="navbar-item" href="javascript:void(0);">
            <img src="img/upload.svg" class="navbar-item-icon" alt="upload file">
          </a>
        </section>
        <section class="navbar-right">
          <a class="navbar-item" href="javascript:void(0);">
            <img src="img/layout_icon.svg" class="navbar-item-icon" alt="icon layout">
          </a>
          <a class="navbar-item" href="javascript:void(0);">
            <img src="img/sort.svg" class="navbar-item-icon" alt="sort by">
          </a>
          <a class="navbar-item" href="javascript:void(0);">
            <img src="img/info.svg" class="navbar-item-icon" alt="show details">
          </a>
        </section>
      </section>
    </section>
    <section class="lower">
      <section class="breadcrumbs">
        <a class="breadcrumb breadcrumb-current" href="javascript:void(0);">Files</a>
      </section>
    </section>
  </header>
  <section class="browser">

    <table>
      <thead>
        <tr>
          <th width="55%">Name</th>
          <th>Modified</th>
          <th>Created</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    <file-upload-box></file-upload-box>
  </section>
</main>